<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @subject.standard_id%>
</p>



<%if current_user.role=="teacher"%>
<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%end %>
<%= link_to 'Back', subjects_path %>
